@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-principal: #05162f;
    --cor-secundaria: #D8D2C2;
    --cor-terciaria: #e62378;
    --cor-hover: #1c3b69;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding:0;
}
body{
    background-color:var(--cor-principal);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size:1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

strong{
    color: var(--cor-terciaria);
    font-weight: bold;
}

.apresentacao__links{
    font-family: var(--fonte-primaria);
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.titulo-destaque2{
    font-weight: bold;
    color: white;
}

header img{
    border: black;
    border-radius: 50%;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    margin-bottom: 25px;
    font-family: var(--fonte-secundaria);
    font-weight: 400px;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    border: var(--cor-terciaria) solid 2px;
    font-weight: 600;
}

.apresentacao__links__navegacao:hover{
    background-color:var(--cor-hover);
    padding: 3%;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width:1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__links__navegacao {
        width: 70%;
    }
}

